@import './reset.css';
@import './normalize.css';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
html {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    min-width: 320px;
}

body {
    background-color: #fafafa;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


main .logo {
    padding-inline: 2.3rem;
    margin-block: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center; 

    img{
        object-fit: contain;
        max-width: 200px;
    }
}



main form {
    padding-inline: 2.5rem;
    display: grid;
    gap: 10px;
    // align-items: center;
    padding-block: 1rem;
}



main form .formControl {
    position: relative;

    input {
        outline: none;
        font-size: 13px;
        padding-top: 19px;
        padding-bottom: 4px;
        padding-inline: 10px;
        border: none;
        border-radius: 3px;
        background-color: transparent;
        outline: solid 1px #DBDBDB;
        width: 100%;
    }

    span.placeholder {
        position: absolute;
        left: 9px;
        top: 0px;
        transform: translateY(100%);
        font-size: 12px;
        color: #7b7878;
        white-space: nowrap;
        max-width: 78%;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: .2s ease;
        &::first-letter {
            text-transform: uppercase;
        }

        &.active{
            top: 2px;
            transform: translateY(0%);
        }
    }

    &:last-child {
        margin-top: .6rem;

        button {
            outline: none;
            border: none;
            padding-block: 7px;
            color: white;
            font-weight: bold;
            font-size: 13px;
            letter-spacing: .5px;
            border-radius: 4px;
            background-color: #0095F6;
            width: 100%;

            span {
                text-transform: capitalize;
            }
        }
    }

}



main form .formControl:nth-child(2) {

    span:nth-child(2) {
        cursor: pointer;
        color: #262626;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 4px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        font-weight: bolder;
        font-size: 13px;
    }

    input {
        padding-right: 77px;
    }
}

.or {
    margin-inline: 2.5rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    height: 2px;
    background-color: #DBDBDB;
    align-items: center;
    margin-block: .8rem;
    margin-bottom: .6rem;

    span {
        padding: 1rem;
        padding-inline: 1rem;
        text-transform: uppercase;
        color: #7b7878;
        font-size: 10px;
        text-align: center;
        padding-top: 1.1rem;
        font-weight: bolder;
        background-color: #fafafa;
    }

}

.logwithfb {
    text-align: center;
    a {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 12px;
        font-weight: bolder;
        color: #385185;
    }

    div {
        background-image: url("./assets/background2.png");
        background-repeat: no-repeat;
        background-position: 82% 83.4%;
        height: 40px;
        width: 40px;
        transform: scale(.4) translate(22px, 32px);
    }

    span::first-letter {
        text-transform: uppercase;
    }
}

.forgottenpwd {
    margin-top: 1.54rem;
    font-size: 12px;
    text-align: center;
    color: #00376B;

    &::first-letter {
        text-transform: uppercase;
    }
}

.signup {
    margin-top: 2rem;
    text-align: center;
    font-size: 13px;
    color: #262626;

    a {

        color: #0095F6;
        font-weight: bold;
    }

    &::first-letter {
        text-transform: uppercase;
    }
}

.appdownload {
    padding-inline: 2.5em;
    margin-top: 4rem;
    text-align: center;
    display: grid;
    gap: 16px;
    color: #262626;
    font-size: 14px;

    .imgwrapper {
        display: flex;
        justify-content: center;
        gap: 10px;

        height: 35px;
        a {
            overflow: hidden;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}

footer {
    margin-top: 2rem;
    font-size: 12px;
    padding-inline: 1.7rem;
    padding-bottom: 52px;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 5px;
        row-gap: 10px;
    }

    li {
        color: #8E8E8E;
        line-height: 27px;

        a {
            width: 100%;
            color: #8E8E8E;
        }

        &:last-child {
            display: flex;
            align-items: center;
        }

        &::first-letter {
            text-transform: uppercase;
        }
    }


    select {
        color: #8E8E8E;
        outline: none;
        border: none;
        border: solid 1px #DBDBDB;
        padding: 3px 10px;
        border-radius: 4px;
        text-transform: capitalize;
        width: 100px;
        text-align: center;
    }
}

.phone-container {
    display: none;
    visibility: none;
    opacity: 0;
}

@media (min-width:375px) {
    footer {
        ul {
            row-gap: 5px;
        }

        li {
            padding-inline: 5px;

            a {
                line-height: 0px;
            }
        }
    }

    .appdownload {
        margin-top: 2rem;
    }
}

@media (min-width:425px) {
    main {
        max-width: 375px;
        margin-inline: auto;
    }

    footer {
        ul {
            column-gap: 12px;
        }

        li {
            padding-inline: 1px;

            a {
                line-height: 0px;
            }
        }
    }
}

@media (min-width:768px) {
    .border {
        background-color: white;
        border: solid 1px #DBDBDB;
        margin-top: 2.5rem;
        padding-bottom: 2rem;
    }

    .signup {
        padding-block: 1.5rem;
        margin-top: 1rem;
    }

    main form .formControl {
        input {
            background-color: #fafafa;
        }
    }

    footer {
        ul {
            column-gap: 0px;
            justify-content: center;
            padding-inline: 7rem;
        }

        li {
            padding-inline: 10px;

            a {
                line-height: 0px;
            }

            &:nth-child(9),
            &:nth-last-child(3),
            &:nth-last-child(7),
            &:nth-last-child(6),
            &:nth-last-child(5),
            &:nth-last-child(4) {
                padding: 0;
                padding-left: 2.5rem;
                text-align: right;
            }
        }
    }
}

@media (min-width:1024px) {

    .phone-container {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: all ease-in 1s;
    }

    .container{
        display: flex;  
        justify-content: center;
        align-items: flex-start;
        padding: 2rem; 
    }

    .border:nth-child(1){
        margin-top: 0; 
    }

    section{ 
        max-width: 50%; 
    }
    
    .phone-container .wrapper{
        width: fit-content;
        position: relative;   
        .mockup{
            width: 100%;
        }

        img{
            max-width: 100%;
            object-fit: contain;
            height: auto;
        }

        .img-items{
            background-color: transparent;
            position: absolute;
            top: 20px;
            right: 54px;
            display: flex;
            overflow-x: hidden;
            align-items: flex-start;
            width: 255px;
            height: 600px;
            z-index: 1;
            img{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                opacity: 0; 
                transition: linear 5s;
                &.active{
                    transition: linear 5s; 
                    opacity: 1;
                }

                
            }
        }

    }

    footer {
        ul {
            column-gap: 0px;
            justify-content: center;
            padding-inline: 6.8rem;
        }

        li {
            padding-inline: 5px;

            a {
                line-height: 0px;
            }

            &:nth-child(9),
            &:nth-last-child(3),
            &:nth-last-child(7),
            &:nth-last-child(6),
            &:nth-last-child(5),
            &:nth-last-child(4) {
                padding: 0;
                padding-left: 5px; 
            }

            &:nth-last-child(3){
                flex: 1 0 100%; 
                text-align: center;
            }

        }
    }
}